<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error 404: Page Not Found</title>
  <link rel="stylesheet" href="../Asset/Style.css">
</head>
<body>

<fieldset>
  <legend><b>Error 404: Page Not Found</b></legend>
  <table>
    <tr>
      <td colspan="2">Sorry, the page you are looking for does not exist.</td>
    </tr>
    <tr>
      <td><b>Suggested Actions:</b></td>
      <td>
        <ul>
          <li>Check the URL for typos</li>
          <li>Return to the <a href="Dashboard.html">Home Page</a></li>
          <li>Contact support if the issue persists</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <button onclick="window.location.href='Dashboard.html'">Back to Safety</button>
      </td>
    </tr>
  </table>
</fieldset>

</body>
</html>