<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error 500: Server Error</title>
  <link rel="stylesheet" href="../Asset/Style.css">
</head>
<body>

<fieldset>
  <legend><b>Error 500: Server Error</b></legend>
  <table>
    <tr>
      <td colspan="2">Oops! Something went wrong on our end.</td>
    </tr>
    <tr>
      <td><b>Suggested Actions:</b></td>
      <td>
        <ul>
          <li>Try refreshing the page</li>
          <li>Wait a moment and try again later</li>
          <li>Report the issue to the IT team</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <button onclick="window.location.href='Dashboard.html'">Return to Home</button>
      </td>
    </tr>
  </table>
</fieldset>

</body>
</html>