<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document Storage</title>
  <link rel="stylesheet" href="../Asset/Style.css">
  <script src="../Asset/document storage.js" defer></script> <!-- Link to external JS file -->
</head>
<body>

<form action="../Asset/Fileup.php" method="post" enctype="multipart/form-data" onsubmit="return validateDocForm()">
  <fieldset>
    <legend><b>Upload Document</b></legend>
    <table>
      <tr>
        <td>Document Title:</td>
        <td><input type="text" id="docTitle" name="docTitle"></td>
      </tr>

      <tr>
        <td>Select File:</td>
        <td><input type="file" id="docFile" name="myfile" accept=".pdf,.doc,.docx,.jpg,.png"></td>
      </tr>

      <tr>
        <td>Access Permission:</td>
        <td>
          <select id="permission" name="permission">
            <option value="">-- Select Access Level --</option>
            <option value="hr">HR Only</option>
            <option value="manager">Managers</option>
            <option value="employee">Employee & HR</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>Electronic Signature:</td>
        <td><input type="text" id="signatureName" name="signatureName" placeholder="Type your full name"></td>
      </tr>

      <tr>
        <td>Retention Until:</td>
        <td><input type="date" id="retentionDate" name="retentionDate"></td>
      </tr>

      <tr>
        <td colspan="2" align="center">
          <br>
          <input type="submit" value="Upload Document">
        </td>
      </tr>
    </table>
  </fieldset>

  <p id="errorDoc" style="color:red;"></p>
</form>
