<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <style>
        body {
            text-align: center;
            background: lightgrey;
        }

        form {
            margin: 40px auto;
            padding: 15px;
            width: 300px;
            background: white;
            border: 1px solid gray;
        }

        input, select {
            width: 95%;
            padding: 5px;
            margin: 8px 0;
        }

        label {
            display: block;
            text-align: left;
            margin: 10px 0 5px;
        }

        .error {
            color: red;
            font-size: 12px;
            text-align: left;
        }

        button {
            background: darkblue;
            color: white;
            border: none;
            padding: 15px;
            width: 120%;
            margin-top: 8px;
            cursor: pointer;
        }

        button:hover {
            background: darkblue;
        }

        legend {
            font-size: 18px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <form>
        <fieldset>
            <legend>Sign Up</legend>
            <table>
                <tr>
                    <td>First Name :</td>
                    <td><input type="text" id="fname" onblur="validateName('fname', 'errorFname')"></td>
                    <td><span id="errorFname" style="color:red"></span></td>
                </tr>
                <tr>
                    <td>Last Name :</td>
                    <td><input type="text" id="lname" onblur="validateName('lname', 'errorLname')"></td>
                    <td><span id="errorLname" style="color:red"></span></td>
                </tr>
                <tr>
                    <td>ID :</td>
                    <td><input type="number" id="id" onblur="validateEmpty('id', 'errorId')"></td>
                    <td><span id="errorId" style="color:red"></span></td>
                </tr>
                <tr>
                    <td>E-mail :</td>
                    <td><input type="text" id="email" onblur="validateEmail()"></td>
                    <td><span id="errorEmail" style="color:red"></span></td>
                </tr>
                <tr>
                    <td>Gender :</td>
                    <td>
                        <input type="radio" name="Gender" value="Male">Male
                        <input type="radio" name="Gender" value="Female">Female
                    </td>
                    <td><span id="errorGender" style="color:red"></span></td>
                </tr>
                <tr>
                    <td>Department :</td>
                    <td>
                        <select id="dept" onblur="validateDept()">
                            <option value="">--select--</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </td>
                    <td><span id="errorDept" style="color:red"></span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" onclick="validateForm()">Sign Up</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>

    <p id="serverResponse" style="color:green"></p>

    <script>
        function validateName(id, errorId) {
            let name = document.getElementById(id).value.trim();
            let error = document.getElementById(errorId);
            let pattern = /^[a-zA-Z\s]+$/;

            if (name === "") {
                error.innerHTML = "This field is required.";
                return false;
            } else if (!pattern.test(name)) {
                error.innerHTML = "Only letters and spaces are allowed.";
                return false;
            } else {
                error.innerHTML = "";
                return true;
            }
        }

        function validateEmpty(id, errorId) {
            let val = document.getElementById(id).value.trim();
            let error = document.getElementById(errorId);
            if (val === "") {
                error.innerHTML = "This field is required.";
                return false;
            } else {
                error.innerHTML = "";
                return true;
            }
        }

        function validateEmail() {
            let email = document.getElementById("email").value.trim();
            let error = document.getElementById("errorEmail");
            let pattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (email === "") {
                error.innerHTML = "Email is required.";
                return false;
            } else if (!pattern.test(email)) {
                error.innerHTML = "Invalid email format.";
                return false;
            } else {
                error.innerHTML = "";
                return true;
            }
        }

        function validateGender() {
            let genders = document.getElementsByName("Gender");
            let error = document.getElementById("errorGender");
            for (let i = 0; i < genders.length; i++) {
                if (genders[i].checked) {
                    error.innerHTML = "";
                    return true;
                }
            }
            error.innerHTML = "Please select a gender.";
            return false;
        }

        function validateDept() {
            let dept = document.getElementById("dept").value;
            let error = document.getElementById("errorDept");

            if (dept === "") {
                error.innerHTML = "Please select a department.";
                return false;
            } else {
                error.innerHTML = "";
                return true;
            }
        }

        function validateForm() {
            let isFname = validateName("fname", "errorFname");
            let isLname = validateName("lname", "errorLname");
            let isId = validateEmpty("id", "errorId");
            let isEmail = validateEmail();
            let isGender = validateGender();
            let isDept = validateDept();

            if (isFname && isLname && isId && isEmail && isGender && isDept) {
                submitForm();
            } else {
                document.getElementById("serverResponse").innerHTML = "Please fix the errors above.";
            }
        }

        function submitForm() {
            let genderValue = document.querySelector('input[name="Gender"]:checked').value;
            let user = {
                fname: document.getElementById("fname").value,
                lname: document.getElementById("lname").value,
                id: document.getElementById("id").value,
                email: document.getElementById("email").value,
                gender: genderValue,
                dept: document.getElementById("dept").value
            };

            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", "../controller/signupCheck.php", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("json=" + JSON.stringify(user));

            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("serverResponse").innerHTML = this.responseText;
                }
            }
        }
    </script>

</body>
</html>
