<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
        </title>
    </head>
    <body>
        <form>
            <fieldset>
                <legend>Sign Up</legend>
                <table>
                    <tr>
                        <td>
                            First Name :
                        </td>
                        <td>
                            <input type="text" name="">
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            Last Name :
                        </td>
                        <td>
                            <input type="text" name="">
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            ID :
                        </td>
                        <td>
                            <input type="number" name="">
                        </td>
                       
                    </tr>
                    <tr>
                        <td>
                            E-mail :
                        </td>
                        <td>
                            <input type="email" name="">
                        </td>
                       
                    </tr>
                    <tr>
                        <td>
                            Gender :
                        </td>
                        <td>
                            <input type="radio" name="Gender">Male
                            <input type="radio" name="Gender">Female
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Department :
                        </td>
                        <td>
                            <select name="Department">
                                <option name="">--select--</option>
                            <option name="">A</option>
                            <option name="">B</option>
                            <option name="">C</option>
                            <option name="">D</option>
                        </td>
                        <tr>
                            <tr> <td>
                                <button type="button">Sign Up</button>
                                </td>
                            </tr>
                </table>
            </fieldset>
        </form>
    </body>
</html>